<div class="wrapper ">
 <app-category      (selectCategory)="onSelectCategory($event)"

                    (deleteCategory)="onDeleteCategory($event)"
                    (updateCategory)="onUpdateCategory($event)"
                    (addCategory)="onAddCategory($event)"
                    (searchCategory)="onSearchCategory($event)"

                    [selectedCategory]="selectedCategory"
                    [categories]="categories"></app-category>

<div class="main-panel">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <app-header
      [categoryName]="selectedCategory ? selectedCategory.name: 'Все'"></app-header>


  </nav>
  <div class="content">
  <!-- статистика -->
  <div class="container-fluid">
    <app-stat
      [totalTasksInCategory]="totalTasksCountInCategory"
      [completeTasksInCategory]="completedCountInCategory"
      [uncompleteTasksInCategory]="uncompletedCountInCategory"
    ></app-stat>
    <div class="row">

      <div class="col-12">




      <app-task               (updateTask)="onUpdateTask($event)"
                              (deleteTask)="onDeleteTask($event)"
                              (selectCategory)="onSelectCategory($event)"
                              (addTask)="onAddTask($event)"


                              [selectedCategory]="selectedCategory"
                              (filterByTitle)="onSearchTasks($event)"
                              (filterByPriority)="onFilterByPriority($event)"
                              (filterByStatus)="onFilterTasksByStatus($event)"

                              [tasks]="tasks"
                              [priorities]="priorities"
      ></app-task>


    </div>
    </div>
     <div>
       <app-footer></app-footer>
     </div>
</div>
  </div>
</div>
</div>


