<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item pointer active"  (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory === null"
      >
        <a class="nav-link" >
          <i class="material-icons">accessible</i>
          <p>Все задачи</p>
        </a>
      </li>
      <li
        *ngFor="let category of categories; let index = index " [class.active]="category === selectedCategory"

        (click)="showTasksByCategory(category)"

        (mouseleave)="showEditIcon(null)"
        (mouseenter)="showEditIcon(index)"


        class="nav-item pointer"

      >
        <a class="nav-link">
          <!--          название категории-->
          <span class="category-title">{{category.name}}</span>
          <i class="material-icons">{{category.icon}}</i>
          <!--         кнопка редактирования категории-->
          <span class="edit-category-icon-area">

            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(category)"
              class="edit-category-icon"
            >edit
            </mat-icon>

          </span>

        </a>
      </li>
    </ul>
  </div>
</div>

